h1{
    color:blueviolet;
    text-shadow: 0cqmax;
    text-indent: 0cqmax;
}

body{
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: padding-box;
}

a{
    text-decoration: none;
    text-align: end;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
div{
    margin: 50px,50px,50px,50px;
    padding: 50px,50px,50px,50px;
    border: 50pt;
}
.Tuesday{
    color: aqua;
    font-size: x-large;
}
#Monday{

     color: rgb(255, 0, 8);
    font-size: x-large;
}
